body {
    background-color:#acbadf;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page {
    display: block;
    margin:auto;
    width: 814px;
    height: 600px;
}